@model Sub_App_1.Models.Product

<div class="card ">
        <div class="card-header bg-danger text-white">
            <h5>Are you sure you want to delete @Model.Name?</h5>
        </div>
        <div class="card-body">
            <dl class="row g-2 w-100">
                <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Name</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Name
                    </dd>
                </div>

                <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Description</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Description
                    </dd>
                </div>

                <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Category</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Category
                    </dd>
                </div>

                <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Calories</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Calories
                    </dd>
                </div>

                 <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Protein</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Protein
                    </dd>
                </div>

                 <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Fat</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Fat
                    </dd>
                </div>

                <div class="row border-bottom py-2 w-100">
                    <dt class="col-sm-4 col-md-3 d-inline-block">
                        <strong>Carbohydrates</strong>
                    </dt>
                    <dd class="col-sm-8 col-md-9 d-inline-block mb-0">
                        @Model.Carbohydrates
                    </dd>
                </div>
            </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Productsindex", "Products")" class="btn btn-primary">Cancel</a>
            <a href="@Url.Action("Productsindex", "Products")" class="btn btn-secondary">Back to products list</a>
        </div>
    </form>
</div>


 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
