@using System.Security.Claims
@model Sub_App_1.Models.Product

@{
    ViewData["Title"] = "Product details";
}

    <h1>@ViewData["Title"] @Model.Name</h1>

    <div class="d-flex">
        @if ((User.IsInRole(UserRoles.FoodProducer) && Model.ProducerId == User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier)) || User.IsInRole(UserRoles.Administrator))
        {

                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2"> Edit
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"> Delete
                </a>
        }
    </div>

    <hr>

        <div class="product-section mt-3">
            <h5>Product information</h5>
            <table class="table table-responsive table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Categories</th>
                        <td>
                            @if (Model.CategoryList != null && Model.CategoryList.Any())
                            {
                                foreach (var category in Model.CategoryList)
                                {
                                    <span class="badge bg-primary me-1">@category</span>
                                }
                            }
                            else
                            {
                                <span class="text-muted">No Categories</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="nutritonal-section mt-3">
            <h5>Nutritional Values</h5>
             <p>Nutrient Amount per 100g</p>
                <table class="table table-responsive table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">Calories</th>
                            <td>@Model.Calories kcal</td>
                        </tr>
                        <tr>
                            <th scope="row">Protein</th>
                            <td>@Model.Protein g</td>
                        </tr>
                        <tr>
                            <th scope="row">Fat</th>
                            <td>@Model.Fat g</td>
                        </tr>
                        <tr>
                            <th scope="row">Carbohydrates</th>
                            <td>@Model.Carbohydrates g</td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <hr>

        <div class="allergens-section mt-3">
            <h5>Allergens</h5>
                @if (!string.IsNullOrEmpty(Model.Allergens))
                {
                    foreach (var allergen in Model.Allergens.Split(','))
                    {
                        <span class="badge bg-success me-2 mb-2">@allergen.Trim()</span>
                    }
                }
                else
                {
                    <span class="text-muted">No Allergens</span>
                }
        </div>
    

    <div class="Goback-section d-flex">
        <a href="@Url.Action("Productsindex", "Products")" class="btn btn-secondary">
           Back to Products List
        </a>
    </div>

