@using System.Security.Claims
@model Sub_App_1.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div class="wrapper-box">
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Categories</dt>
        <dd class="col-sm-9">
            @if (Model.CategoryList != null && Model.CategoryList.Any())
            {
                @string.Join(", ", Model.CategoryList)
            }
            else
            {
                <span>No Categories</span>
            }
        </dd>

        <dt class="col-sm-3">Calories (kcal)</dt>
        <dd class="col-sm-9">@Model.Calories</dd>

        <dt class="col-sm-3">Protein (g)</dt>
        <dd class="col-sm-9">@Model.Protein</dd>

        <dt class="col-sm-3">Fat (g)</dt>
        <dd class="col-sm-9">@Model.Fat</dd>

        <dt class="col-sm-3">Carbohydrates (g)</dt>
        <dd class="col-sm-9">@Model.Carbohydrates</dd>

        <dt class="col-sm-3">Allergens</dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.Allergens))
            {
                @Model.Allergens.Replace(",", ", ")
            }
            else
            {
                <span>No Allergens</span>
            }
        </dd>
    </dl>

    @if ((User.IsInRole(UserRoles.FoodProducer) && Model.ProducerId == User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier)) || User.IsInRole(UserRoles.Administrator))
    {
        <div class="btn-group" role="group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>
    }

    <hr />
    <a href="@Url.Action("Productsindex", "Products")" class="btn btn-secondary mt-3">Back to Products List</a>
</div>
