
<div class="sidebar-content">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3">
        <span class="navbar-brand">FoodStack</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <!-- Home Menu Item TODO: ICON -->
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")"
                   asp-controller="Home" asp-action="Index">
                   <img src="~/icons/house-solid.svg" alt="Home page"> Home
                </a>
            </li>
            
            <!-- Products Menu Item -->
            <li class="nav-item">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <!-- Products link with active class -->
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Products" && ViewContext.RouteData.Values["action"]?.ToString() == "Productsindex" ? "active" : "")"
                       asp-controller="Products" asp-action="Productsindex">
                       <img src="~/icons/box-open-solid.svg" alt="Se all products"> Products
                    </a>

                    <!-- Submenu for Admin/FoodProducer/RegularUser -->
                    @if (User.IsInRole(UserRoles.Administrator) || User.IsInRole(UserRoles.FoodProducer) || User.IsInRole(UserRoles.RegularUser)) 
                    {
                        <ul class="nav flex-column ms-3">
                            <!-- "View All" submenu -->
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Productsindex" ? "active" : "")"
                                asp-controller="Products" asp-action="Productsindex">
                                     <img src="~/icons/eye-solid.svg" alt="Se all products"> View All
                                </a>
                            </li>
                            
                            @if(!User.IsInRole(UserRoles.RegularUser)) 
                            {
                                <!-- "My Products" submenu -->
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "UserProducts" ? "active" : "")"
                                    asp-controller="Products" asp-action="UserProducts">
                                        <img src="~/icons/list-solid.svg" alt="List of my products"> My Products
                                    </a>
                                </li>
                                
                                <!-- "Add" submenu -->
                                <li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Create" ? "active" : "")"
                                    asp-controller="Products" asp-action="Create">
                                       <img src="~/icons/circle-plus-solid.svg" alt="Add a new product"> Add
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <!-- Disabled Products link for unauthenticated users -->
                    <a class="nav-link disabled" aria-disabled="true">
                        <img src="~/icons/bowl-food-solid.svg" alt="Products"> Products
                    </a>
                }
            </li>

            <!-- Account Menu Item -->
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Account" ? "active" : "")"
                asp-controller="Account" asp-action="Index">
                    <img src="~/icons/gear-solid.svg" alt="Account Icon"> Account
                </a>
            </li>

            <!-- Privacy Menu Item -->
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Privacy" ? "active" : "")"
                    asp-controller="Home" asp-action="Privacy">
                    <img src="~/icons/bowl-food-solid.svg" alt="Privacy Icon"> Privacy
                </a>
            </li>
        </ul>

        <!-- Log in/Logout button -->
        <hr>
        <div class="logout">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <!-- Log out button -->
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger" id="logoutButton">
                        <img src="~/icons/right-to-bracket-solid.svg" alt="Logout Icon" /> Logout
                    </button>
                </form>
            }
            else
            {
                <!-- Log in button -->            
                var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                var isOnLoginPage = (currentController == "Account" && currentAction == "Index");
                var loginButtonClass = "btn btn-success" + (isOnLoginPage ? " active-login" : "");
                var loginButtonDisabled = isOnLoginPage ? "disabled" : "";
                
                <form asp-controller="Account" asp-action="Index" method="get">
                    <button type="submit" class="@loginButtonClass" @loginButtonDisabled>
                        <img src="~/icons/right-to-bracket-solid.svg" alt="Login Icon"/> Log in
                    </button>
                </form>
            }
        </div>
    </div>
</div>